<h1>Groups</h1>

<ul>
  <% @groups.each do |group| %>
    <li>
      <%= link_to group.groupname, group %>
    </li>
  <% end %>
</ul>
<%= paginate @groups %>

<%= link_to "New Group", new_group_path %>