<h2>Hydra has <%= User.count %> users!</h2>
<ul>
  <% @users.each do |user| %>
    <% cache user do %>
      <li>
        <%= link_to user.username, user %>
        <%= user.status %>
        <br>
      </li>
     <% end %>
  <% end %>
</ul>
